# Technical Analysis with Python - an introduction

## Installing and importing required Libraries / Packages

Install pandas-datareader, plotly and cufflinks with:
 - pip install pandas-datareader
 - pip install cufflinks

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import cufflinks as cf
from pandas_datareader import data

## Loading Financial Data from the Web

In [2]:
start = "2010-01-01"
end= "2020-12-31"
symbol = "MSFT"
df = data.DataReader(name=symbol, data_source="yahoo", start=start, end=end)
df

,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,
2010-01-04,31.100000,30.590000,30.620001,30.950001,38409100.0,23.904984
2010-01-05,31.100000,30.639999,30.850000,30.959999,49749600.0,23.912708
2010-01-06,31.080000,30.520000,30.879999,30.770000,58182400.0,23.765968
2010-01-07,30.700001,30.190001,30.629999,30.450001,50559700.0,23.518793
2010-01-08,30.879999,30.240000,30.280001,30.660000,51197400.0,23.680994
...,...,...,...,...,...,...
2020-12-24,223.610001,221.199997,221.419998,222.750000,10550600.0,220.898376
2020-12-28,226.029999,223.020004,224.449997,224.960007,17933500.0,223.089996
2020-12-29,227.179993,223.580002,226.309998,224.149994,17403200.0,222.286713
2020-12-30,225.630005,221.470001,225.229996,221.679993,20272300.0,219.837250
2020-12-31,223.000000,219.679993,221.699997,222.419998,20942100.0,220.571106

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 2769 entries, 2010-01-04 to 2020-12-31
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   High       2769 non-null   float64
 1   Low        2769 non-null   float64
 2   Open       2769 non-null   float64
 3   Close      2769 non-null   float64
 4   Volume     2769 non-null   float64
 5   Adj Close  2769 non-null   float64
dtypes: float64(6)
memory usage: 151.4 KB

In [5]:
symbol = ["MSFT", "GE", "AAPL"]

In [6]:
df = data.DataReader(name=symbol, data_source="yahoo", start=start, end=end)
df

Attributes   Adj Close                              Close              \
Symbols           MSFT         GE        AAPL        MSFT          GE
Date
2010-01-04   23.904980  87.814438    6.553026   30.950001  118.846153
2010-01-05   23.912708  88.269157    6.564356   30.959999  119.461540
2010-01-06   23.765961  87.814438    6.459939   30.770000  118.846153
2010-01-07   23.518799  92.361465    6.447999   30.450001  125.000000
2010-01-08   23.680992  94.350769    6.490867   30.660000  127.692307
...                ...        ...         ...         ...         ...
2020-12-24  220.898361  85.006378  131.161407  222.750000   85.199997
2020-12-28  223.089996  84.926559  135.852509  224.960007   85.120003
2020-12-29  222.286728  84.288010  134.043655  224.149994   84.480003
2020-12-30  219.837265  85.485283  132.900696  221.679993   85.680000
2020-12-31  220.571106  86.203651  131.877014  222.419998   86.400002

Attributes                    High                                 Low  \
Symbols           AAPL        MSFT          GE        AAPL        MSFT
Date
2010-01-04    7.643214   31.100000  120.307693    7.660714   30.590000
2010-01-05    7.656429   31.100000  120.538460    7.699643   30.639999
2010-01-06    7.534643   31.080000  120.153847    7.686786   30.520000
2010-01-07    7.520714   30.700001  126.769234    7.571429   30.190001
2010-01-08    7.570714   30.879999  128.384613    7.571429   30.240000
...                ...         ...         ...         ...         ...
2020-12-24  131.970001  223.610001   86.800003  133.460007  221.199997
2020-12-28  136.690002  226.029999   86.239998  137.339996  223.020004
2020-12-29  134.869995  227.179993   86.160004  138.789993  223.580002
2020-12-30  133.720001  225.630005   86.800003  135.990005  221.470001
2020-12-31  132.690002  223.000000   86.639999  134.740005  219.679993

Attributes                                Open                          \
Symbols             GE        AAPL        MSFT          GE        AAPL
Date
2010-01-04  116.538460    7.585000   30.620001  117.076920    7.622500
2010-01-05  118.846153    7.616071   30.850000  118.923080    7.664286
2010-01-06  118.769234    7.526786   30.879999  119.461540    7.656429
2010-01-07  118.692307    7.466071   30.629999  119.076920    7.562500
2010-01-08  125.153847    7.466429   30.280001  125.461540    7.510714
...                ...         ...         ...         ...         ...
2020-12-24   84.959999  131.100006  221.419998   86.800003  131.320007
2020-12-28   84.639999  133.509995  224.449997   85.599998  133.990005
2020-12-29   84.320000  134.339996  226.309998   85.279999  138.050003
2020-12-30   84.400002  133.399994  225.229996   84.639999  135.580002
2020-12-31   84.639999  131.720001  221.699997   85.199997  134.080002

Attributes      Volume
Symbols           MSFT          GE         AAPL
Date
2010-01-04  38409100.0   8720387.0  493729600.0
2010-01-05  49749600.0   8391578.0  601904800.0
2010-01-06  58182400.0   7210437.0  552160000.0
2010-01-07  50559700.0  24111399.0  477131200.0
2010-01-08  51197400.0  14964638.0  447610800.0
...                ...         ...          ...
2020-12-24  10550600.0   3756213.0   54930100.0
2020-12-28  17933500.0   6724588.0  124486200.0
2020-12-29  17403200.0   6629488.0  121047300.0
2020-12-30  20272300.0   6327625.0   96452100.0
2020-12-31  20942100.0   5962788.0   99116600.0

[2769 rows x 18 columns]

In [9]:
df['Adj Close']

Symbols           MSFT         GE        AAPL
Date
2010-01-04   23.904980  87.814438    6.553026
2010-01-05   23.912708  88.269157    6.564356
2010-01-06   23.765961  87.814438    6.459939
2010-01-07   23.518799  92.361465    6.447999
2010-01-08   23.680992  94.350769    6.490867
...                ...        ...         ...
2020-12-24  220.898361  85.006378  131.161407
2020-12-28  223.089996  84.926559  135.852509
2020-12-29  222.286728  84.288010  134.043655
2020-12-30  219.837265  85.485283  132.900696
2020-12-31  220.571106  86.203651  131.877014

[2769 rows x 3 columns]

In [10]:
df.to_csv("stocks.csv")